:root{
    --color-acento:	#2ecc71;
    --color-fondo--claro: #fff;
    --color-fondo--claro2: #f5f5f5;
    --color-fondo--oscuro: #000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Segoe UI", sans-serif;
    line-height: 1.6;
    background-color:var(--color-fondo--claro);
    color: #111;
}

.hero {
    background-color: #000;
    color: #fff;
    padding: 100px 20px;
    text-align: center;
}

.hero h1 {
    font-size: 48px;
    font-weight: bold;
}

.hero h2 {
    font-size: 24px;
    color: var(--color-acento);
    margin-top: 10px;
}

.tagline {
    margin-top: 15px;
    font-size: 15px;
}

.intro {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 20px;
    background-color: var(--color-fondo--claro2);
    margin: 0 auto;
    gap: 40px;
}

.intro-text{
    flex: 1;
    max-width: 600px;
    margin: 20px;
    text-align: justify;
}

.intro-text h3{
    font-size: 24px;
    color: var(--color-acento);
    margin-bottom: 10px;
}

.intro-photo{
    text-align: center;
}


.intro-photo img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;

}

.edad {
    margin-top: 10px;
    font-size: 14px;
    color: var(--color-acento);
}

.localidad{
    color: var(--color-fondo--oscuro);
}

.skills {
    padding: 60px 20px;
    background-color: var(--color-fondo--oscuro);
}

.habilidades{
    color: var(--color-fondo--claro2);
    margin: auto;
    max-width: 800px;
}

.habilidades p{
    text-align: justify;
}

.contenedor-icons{
    text-align: center;
    gap: 0px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    flex-wrap: wrap;
    color: var(--color-fondo--claro2);
}

.contenedor-icons:hover{
    color: var(--color-acento);
}

.contenedor-icons p{
    font-size: 15px;
}

.tech-icons {
    display: flex;
    flex-wrap: wrap;
    color: var(--color-fondo--claro2);
    gap: 20px;
    font-size: 48px;
    justify-content: center;
    margin-top: 40px;
}

.tech-icons i,p {
    transition: transform 0.2s ease;
}

.contenedor-icons :hover {
    transform: scale(1.2);
    color: var(--color-acento);
}

.education{
    padding: 60px;
    background-color: var(--color-fondo--claro2);
}

.education h3{
    text-align: center;
    color: var(--color-acento);
    margin-bottom: 30px;
    font-size: 24px;
}

.grid-estudios{
    display: grid;
    grid-template-columns: repeat(3, fr1);
    gap: 30px;
    max-width: 1000px;
    margin: 0 auto;
}

.estudio{
    background-color: var(--color-fondo--claro);
    padding: 20px;
    border-left: 4px solid var(--color-acento);
    border-radius: 6px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
    transition: transform 0.2s ease-in-out;
}

.estudio:hover{
    transform: scale(1.03);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);;
}

.skills h3 {
    font-size: 24px;
    color: var(--color-acento);
    margin-bottom: 20px;
    text-align: center;
}

.skills li {
    margin-bottom: 10px;
    color: #fff;
}

.contacto {
    padding: 60px 20px;
    background-color: var(--color-fondo--claro2);
}

.contacto h3{
    font-size: 24px;
    color: var(--color-acento);
    margin-bottom: 10px;
}

.contacto p>a{
    color: var(--color-acento);
    text-decoration: none;
}

.contacto a:hover{
    text-decoration: underline;
}

.btn-cv {
    display: inline-block;
    background-color: var(--color-acento);
    color: white;
    font-weight: bold;
    padding: 12px 24px;
    border-radius: 8px;
    text-decoration: none;
    transition: 0.2s ease-in-out;
}

.btn-cv:hover {
    filter: saturate(80%);
    text-decoration: none;
}

footer {
    background-color: var(--color-fondo--oscuro);
    color: #fff;
    text-align: center;
    padding: 20px;
    font-size: 14px;
}

@media (max-width: 768px) {
    .intro {
        flex-direction: column; /* Apila texto y foto */
        text-align: center;     /* Centra el contenido */
    }
    
    .intro-text {
        max-width: 90%;
        text-align: justify;         /* Que el texto use casi todo el ancho */
    }

    .intro-photo img {
        width: 150px;
        height: 150px;           /* Foto más pequeña en móvil */
        border-radius: 50%;
    }
}